*{
    margin:0;
    padding:0;
    box-sizing: border-box;
 }

 a{
   text-decoration: none;
 }

 ul{
   list-style: none;
 }

 main{
  margin:6rem 0;
}

.product{
  background: linear-gradient(180deg, #F4F4F4 0%, rgba(244, 244, 244, 0) 100%);
}

.product h4{
  margin-top:1rem;
  font-size: 1.75rem;
  font-weight: 800;
}

.product p{
  margin-top: 0.7rem;
  font-size: 1rem;
  font-weight: 600;
}

.great-tea{
  margin:5rem 0;
}

.grid-1{
  background: linear-gradient(270deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 137, 56, 0.1) 100%);
}

.grid-2{
  background: rgba(230, 166, 35, 0.1);
}

.grid-3{
  background: rgba(87, 118, 57, 0.1);
}

.grid-4{
  background: linear-gradient(90deg, #D9D9D9 0%, rgba(255, 255, 255, 0) 100%);
}